/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#info-hdr {
    position: relative;
    column-count: 2;
    width: 100%;
    padding-top: 5%;
    font-size: 1.5vw;
    background-color: blue;
    color: yellow;
    border: 1px solid black;
}

#score {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    width: 50%;
    padding-left: 1.5%;
    padding-top: 0.5%;
}

#timer {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    padding-left: 1.5%;
    padding-top: 0.5%;
    color: yellow;
}

#img-winner {
    position: absolute;
    width: 17%;
    left: 2%;
    top: 2%;
}

#img-balloons {
    position: absolute;
    width: 20%;
    left: 80%;
    top: 2%;
}

#img-bonus {
    position: absolute;
    display: none;
    width: 10%;
    left: 30%;
    top: 80%;
}

#completion-box {
    position: relative;
    display: none;
    background-color: blue;
    padding-top: 50vw;
}

#completion-msg {
    color: yellow;
    font-style: italic;
    margin-top: 7vw;
    margin-bottom: 5vw;
}

#completion h1 {
    font-size: 150%;
}

#play-again {
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-size: 50%;
}

#completion h2 {
    font-size: 150%;
}

#completion {
    position: absolute;
    top: 5vw;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 3vw;
}

#question-box {
    position: relative;
    display: none;
    background-color: blue;
    border: 1px solid black;
    padding-top: 50%;
}

#question-and-answers {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    padding: 5%;
    color: white;
    font-size: 2.2vw;
}

input[type=radio] {
    width: 5%;
    height: 1em;
}

#final-answer {
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: white;
    color: black;
    margin-left: 35%;
    font-size: 1.6vw;
}

#question-box td {
    font-size: 1vw;
    color: yellow;
}

#jeopardy-container {
    position: relative;
    column-count: 6;
    width: 100%;
    padding-top: 40%;
    margin-bottom: 7%;
}

#jcolumn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 17%;
}

#jcolumn:first-child {
    left: 0;
}

#jcolumn:nth-child(2) {
    left: 16%;
}

#jcolumn:nth-child(3) {
    left: 33%;
}

#jcolumn:nth-child(4) {
    left: 49%;
}

#jcolumn:nth-child(5) {
    left: 66%;
}

#jcolumn:nth-child(6) {
    left: 82%;
}

.jbox-header, .jbox {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 20%;
    background-color: blue;
    justify-content: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.jbox-header {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

.jbox {
    position: relative;
    z-index: 0;
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 4vw;

    transform-origin: top left;
    text-align: center;
}



