@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <a asp-area="" asp-controller="Play" asp-action="Index" id="play-game-button" class="display-2 bg-primary text-black-50">Play Jeopardy</a>
</div>

