@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <button id="play-game-button" type="button" class="display-2 bg-primary">Play Jeopardy</button>
 </div>

